
/*---------------------------------------
  header
----------------------------------------*/

.header-container {
  width:930px;
  margin:0 auto;
  text-align: center;
  padding: 10px;
}

.logo {
  float: left;
  margin: 5px;
}

.header-list {
  float: right;
  margin: 10px;
}

.header-list a:hover {
  opacity: 0.7;
}

.header-list a:visited{
  color: rgb(66, 66, 66);
}

.header-list li{
  list-style: none;
  margin: 10px;
  float: left;
  font-size: 13px;
}

.header-list a {
  text-decoration: none;
  color: rgb(78, 76, 76);
}

/*---------------------------------
main
----------------------------------*/

.main-img{
  height: 600px;
  width: 100%;
  object-fit: cover;
}  

h1{
  text-align: center;
  margin:0 auto;
  color: rgb(66, 66, 66);
  font-size: 35px;
  border-bottom: solid 1px rgb(49, 49, 49);
  padding-bottom: 0px;
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 40px;
}

.about {
  margin: 0 auto;
  display: flex;
  width: 800px;
  justify-content: center;
  align-items: center;
}

.about img{
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.body-container{
  text-align: center;
  margin:0 auto;
  width:960px;
  height:auto;
}

.about-text{
  font-size: 14px;
  color:rgb(39, 39, 39);
  text-align: left;
}

.bicycle-container{
  display: flex;
  justify-content: space-between;
}

.bicycle-item{
  margin:0 10px;
  width: 30%;
}

.bicycle-item img{
  object-fit: contain;
  height: 180px;
  width: auto;
}

.p-tytle{
  font-weight: bold;
}

p{
  color: rgb(66, 66, 66);
}

/*-------------------------------
footer
--------------------------------*/

footer{
  margin:0 auto;
  text-align: center;
  margin-top: 100px;
  color: rgb(88, 88, 88);
  font-size: 5px;
}